# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
log/test.txt

# Environment variables
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
*.pdf
*.mov
*.mp4

# Database
*.sqlite
*.db

# Temporary files
*.tmp
*.temp 